.side-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    h4 {
       
        font-size: 18px;
        font-weight: 700;
        line-height: 
        21.04px;
    }
    h2 {
        font-size: 3.2rem;
        line-height: 
        37.41px;
        
    }
    span {
        font-size: 1.6rem;
        font-weight: 400;
    }
    p {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .btn {
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        line-height: 1.87rem;
        font-size: 1.6rem;
        
        color: white;
        background-color: #C0DF33;
        padding: 2rem 3rem 2rem 3rem;
        border-radius: .5rem;
        margin-top: 2rem;
    }
    .h-4 {
        margin-bottom: -2rem;
        margin-left: 1.4rem;
    }
    .p-2 {
        font-size: 1.4rem;
        margin-top: 4rem;
        line-height: 1.6;
        padding: .1rem;
        margin-bottom: 13rem;
    }

}
@media only screen and (max-width: 600px){
    .side-inner {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        h4 {
            font-weight: 700;
            font-size: 18px;
            line-height: 21.04px;
            letter-spacing: -0.22px;
            color: white;
    
        }
        h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 37.41px;
            letter-spacing: -0.4px;
            color: white;
            
        }
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.2px;
            color: darken(white, 15%);
        }
        p {
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: 26px;
            letter-spacing: -0.2px;
            color: white;
        }
        .btn {
            display: inline-block;
            width: 100%;
            text-align: center;
            background-color:  #C0DF33;
            color: white;
            padding: 15px 0;
            text-decoration: none;
            border-radius: 5px;
        }
        .p-2 {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.17px;
            margin-bottom: 40px;
        }
    }
}