.top{
    padding: var(--pd-section);
    background-color: white;
    
}

.bottom {
   background-color: var(--clr-primary-one);
   
   color: white;

    .side-left {
        padding: var(--pd-section);
        background-color: darken(hsl(179, 62%, 43%) , 3%);  
    }

    .side-right {
        padding: var(--pd-section);
        p {
            color: white;
        }

    }

    }

.container-price {
    
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-main);

    .heading-price {
       
    }

    .price {
        
    }
    
}

@media (min-width: 575px){
    .top {
        margin: 0 auto;
        max-width: 700px;

    }
    .bottom {
        margin: 0 auto;
        max-width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .side-left {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .side-right {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    

}